

.container, .ship-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: calc(10px + 2vmin);
        color: white;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);

  }

.PlanetBox {
        display: flex;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
        min-height: 100px;
        flex-direction: row;
        font-size: calc(10px + 2vmin);
        font-weight: 700;
        color: yellow;
        margin: 10px;
         width: 300px;
        padding: 15px;
        border-radius: 7px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border: 6px solid yellow;
    }

    .PlanetBox:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    header {
        color: white;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: wrap;
        font-weight: bold;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 55px;
        color: yellow;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
        background-image: 500px;
        flex-grow: 1;
    }
    
    
    .home{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: wrap;
        font-weight: bold;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 55px;
        color: yellow;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
        background-image: 500px;
        text-decoration: none;
    }

    .home:hover{
        text-decoration: underline;
        cursor: pointer;
    }

    .starshipsHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: wrap;
        font-weight: bold;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 45px;
        color: yellow;
        background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
        background-image: 500px;
        text-decoration: none;
    }