.starship-list {
    
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    border: 5px solid rgb(115, 166, 224);
}

.containerT {
display: flex;
justify-content: center;
align-items: center;
flex-direction: wrap;
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;

}

.ssDetailHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    font-weight: bold;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: yellow;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/takeover_pagebackground_stars_14d8d7af_8067271c_91062a90.jpeg?region=0%2C0%2C500%2C500);
    background-image: 500px;
    flex-grow: 1;
  }
   